.hero{
    background-image: url(../../Images/heroImg.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontBack{
    color: transparent;
    -webkit-text-stroke: 2px #60171967;
    font-weight: bold;
    font-size: 15rem;
    position: absolute;
    top: 20%;

}

@media(max-width:1976px) {
    .fontBack {
      font-size: 22rem;
    }
  }
  
  @media(max-width:1360px) {
    .fontBack {
        font-size: 18rem;
    }
  
  
  }
  
  @media(max-width:1080px) {
  
    .fontBack {
        font-size: 15rem;
    }

  }

  @media(max-width:968px) {
  
    .fontBack {
        font-size: 12rem;
    }

  }


.signInBtn{
    color: white;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px 20px;
    margin: 0px 10px 0px 0px ;
    transition: .5s;
    text-decoration: none;
}
.signInBtn:hover{
    background-color: rgba(236, 236, 236, 0.849);
    color: rgba(20, 20, 20, 0.925);
}

.signUpBtn{
    color: #601719;
    font-size: 14px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 7px 20px;
    margin: 0px 0px 0px 10px ;
    transition: .5s;
    text-decoration: none;

}
.signUpBtn:hover{
    background-color: rgba(236, 236, 236, 0.849);
    color: rgba(20, 20, 20, 0.925);
}

